{% extends "base.html" %}
{% block content %}
<div class="ptol-search">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" value="{{ search_query }}" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
    {% if search_results %}
        {% for result in search_results %}
            <div class="result"><a href="{{ result.url }}">{{ result }}</a></div>
        {% endfor %}
    {% else %}
        {% if search_query %}<p>No results for <em>{{ search_query }}</em></p>{% endif %}
    {% endif %}
</div>
{% endblock %}
