<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>The Wandering God - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="script" href="{{ url_for('static', filename='layout.js') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='layout.js') }}"></script>
    <style type="text/css">
    body {
        background-color: #000000;
        background-image: url(/static/images/backgrounds/redgenebackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
    }
    .important {
        color: #336699;
    }
    </style>
    {% endblock %}
</head>
<body>
<div id="content" align="center">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
    <p align="center">&copy; Copyright 1997-2019 <a href="mailto:rendier@thewanderinggod.com">rendier@thewanderinggod.com</a>
    </p>
    <p id="murphy" align="center">
        <script type="text/javascript">getMurphysLaw();</script>
    </p>
    {% endblock %}
</div>
</body>
</html>