{% extends "error/elayout.html" %}
{% block title %}{{ error.code }}: {{ error.name }}{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <center>
        <p class="important"></p>
        <h1 align="center">{{ error.code }}: {{ error.name }}</h1>
        <p align="center">{{ error.get_description() | safe }}</p>
        <p align="center">{{ url }}</p>


        <img src="static/images/error/error_{{ error.code }}.png" alt="{{ error.code }}: {{ error.name }}" align="center">
    </center>


{% endblock %}