<!DOCTYPE html>
<html lang="en">
<!--id	articleName	articleAuthor	articleDate	articleUrl	articleSection	articleCategory	articleTitle articleIntro	articleText-->
<!-- 0        1           2              3           4             5             6               7              8             9    -->
<head>
	<meta charset="utf-8">
	<link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <title>Rehal - {{ article[7] }}</title>
    <style type="text/css">

    </style>
</head>

<body class="content">
	<div class="centered">
		<div id="article-head" class="content" style="font-size: small">
            <h1 style="text: white; text-decoration: underline">{{ article[7] }}</h1>
            {{ article[2] }}<br>
            {{ article[3] }}<br>
            {{ article[4] }}<br>
            Parent: {{ article[5] }}   |   Category: {{ article[6] }}<br>
            <hr>
            <div id="article-text" class="content">
                {{ article[9] | safe }}
            </div>
		</div>
        <center>
            <img src="{{ url_for('static', filename='images/fleurdelis.png') }}" height="150px">
        </center>
	</div>
    {% if session['username'] and session['usergroup'] == 'The Wandering God' %}
    <hr>
        <a href="{{ url_for('article_editor', articleName=article[1]) }}" class="dropmenu">Edit</a>
    <hr>
    {% endif %}

</body>
</html>