<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <title>Card Catalog</title>
</head>
<body class="menu">
    <h2 align="center">{{ session['MENU_TITLE'] }}</h2>
    <div id="flashdiv" class="bgimg">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </div>
    <br>
    {% if 'username' in session and session['usergroup'] == 'The Wandering God' %}
    <center>
    <div class="dropmenu">
        <p><a href="{{ url_for('new_article') }}" target="content">New Article</a></p>
    </div>
    </center>
    {% endif %}
    <ul>
    {% for title in titles %}
        <li><a href="/article/{{ title[1] }}" target="content">{{ title[0] }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>