<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>The Wandering God - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="script" href="{{ url_for('static', filename='js/layout.js') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

    {% endblock %}
</head>
<body id="content" class="content">
<div id='content' class="warpper" style="width: 100%; margin: auto;">
        <h1>The Scribe</h1>
		<form method="post">
            {{ form.csrf_token }}
            <table width="100%" style="color: white;">

				<tr>
					<td>
                        {{ form.newCategory.label }}<br>
                        {{ form.newCategory }}<br>
					</td>
				</tr>
				<tr>
					<td>
                        {{ form.parentCategory.label }}<br>
                        {{ form.parentCategory }}<br>
					</td>
				</tr>
				<tr>
					<td>
						{{ form.submit }}
					</td>
				</tr>
			</table>

		</form>

	</div>
    {{ ckeditor.load() }}
</body>
</html>