<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Rendier: The Wandering God</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <style type="text/css">
        <!--
        body,td,th {
            color: #000000;
        }
        body {
            background-color: #ffffff;
        }

        #logodesc {
            height:auto;
            width:auto;
        }
        .style1 {font-size: small}

        .right {
            text-align: right;
            float: right;
        }
        -->
    </style>
    <script type="text/javascript">
        <!--
        function MM_preloadImages() {
            //v3.0
            var d=document;
            if(d.images){
                if(!d.MM_p) d.MM_p=new Array();
                    var i,j=d.MM_p.length,a=MM_preloadImages.arguments;
                    for(i=0; i<a.length; i++)
                        if (a[i].indexOf("#")!=0){
                            d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];
                        }
            }
        }
        //-->
    </script>

</head>
<body>
    <p align='center' style="font-size: x-large; text-decoration-line: underline">The Debugging Page</p>
    <div align="left">

        {% for item in debugList %}

            <p>{{item}}</p>

        {% endfor %}

    </div>
</div>
</body>
</html>