<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link type="text/css" href="{ url_for('static', 'css/sample.css') }" rel="stylesheet" media="screen" />
    <title>The Scribe</title>
</head>
<body>
	<div>
		<form action="/editor/{{ article[1] }}" method="post">
			<table border="2" width="90%">
				<tr>
					<td>
						<table border="2" width="100%" style="color: white;">
							<tr>
								<td>
									ID:<input type="text" name="id" value="{{ article[0] }}" style="width: 100%;">
								</td>
								<td>
									Name:<input type="text" name="Name" value="{{ article[1] }}" style="width: 100%;">
								</td>
							</tr>
							<tr>
								<td>
									Author:<input type="text" name="Author" value="{{ article[2] }}" style="width: 100%;">
								</td>
								<td>
									Date:<input type="text" name="Date" value="{{ article[3] }}" style="width: 100%;">
								</td>
							</tr>
							<tr>
								<td colspan="2">
									URL:<input type="text" name="Url" value="{{ article[4] }}" style="width: 100%;">
								</td>
							</tr>
							<tr>
								<td>
									Parent:<input type="text" name="Parent" value="{{ article[5] }}" style="width: 100%;">
								</td>
								<td>
									Category:<input type="text" name="Category" value="{{ article[6] }}" style="width: 100%;">
								</td>
							</tr>
							<tr>
								<td>
									Title:<input type="text" name="Title" value="{{ article[7] }}" style="width: 100%;">
								</td>
								<td>
									Featured:<input type="textbox" name="Featured" value="{{ article[10] }}" style="width: 100%;">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<textarea type="text" name="Intro" style="height: 100px; width: 100%">{{ article[8] | safe }}
						</textarea>
					</td>
				</tr>
				<tr>
					<td id="editor">
						<textarea type="text" id="editor" name="Content" style="height: 100px; width: 100%">{{ article[9] | safe }}
						</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Save">
					</td>
				</tr>
			</table>

		</form>

	</div>

	<div onload="ckeditorItems()">
		<script>
			document.write(Array.from( editor.ui.componentFactory.names() );
		</script>
	</div>

<script src="{{ url_for('static', filename='js/ckeditor.js') }}"></script>

<script>
	ClassicEditor
		.create( document.querySelector( '#editor' ), {
		alignment: {
			options: [ 'left', 'center', 'right', 'justify' ]
		}

		toolbar: [
			'heading', '|', 'alignment:left', 'alignment:right', 'alignment:center', 'alignment:justify'
		],
    } )
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );
</script>
</body>
</html>