<!DOCTYPE html>
<html lang="en">
<!--id	herbName herbScientific herbLocation herbClimate herbReferenceLink herbImages herbDescription-->
<!-- 0     1           2              3           4             5             6               7       -->
<head>
	<meta charset="utf-8">
	<link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <title>Apothacary - {{ herb[1] }} : {{ herb[2] }}</title>
    <style type="text/css">

    </style>
</head>

<body class="content">
	<div class="centered">
		<div id="article-head" class="content" style="font-size: small">
            <h1 style="text: white; text-decoration: underline">{{ herb[1] }}</h1>
            Scientific Name: {{ herb[2] }}<br>
            Location: {{ herb[3] }}   |   Climate: {{ herb[4] }}<br>
            Reference Link: <a href="{{ herb[5] }}" target="_blank">{{ herb[5].split('.')[1].capitalize() }}</a><br>
            <hr>
            {% if herb[6] %}
            <h2>Images:</h2>
            <div id="herb-images" class="herbcontent">
                {{ herb[6] | safe }}
            </div>
            {% endif %}
            <h2>Description:</h2>
            <div id="herb-description" class="herbcontent">
                {{ herb[7] | safe }}
            </div>
		</div>
        <center>
            <img src="{{ url_for('static', filename='images/fleurdelis.png') }}" height="150px">
        </center>
	</div>
    <hr>
    <a href="{{ url_for('list_herbs') }}" target="content">Back</a>
    {% if session['username'] and session['usergroup'] == 'The Wandering God' %}
    <hr>
        <a href="{{ url_for('herb_editor', herbName=herb[1]) }}" target="content">Edit</a>
    <hr>
    {% endif %}

</body>
</html>