<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <title><h2>The Apothecary Scribe</h2></title>
</head>
<body id="content" class="content">
	<div id='content' class="warpper" style="width: 100%; margin: auto;">
        <h1>The Apothecary Scribe</h1>
		<form method="post">
            {{ form.csrf_token }}
            <table width="100%" style="color: white;">
				<tr>
					<td>
						<table width="100%" style="color: white;">
                            <tr>
                                <td>
                                    {{ form.id.label }}:<br>{{ form.id(style='width: 100%') }}
                                </td>
                            </tr>
							<tr>
								<td>
                                    {{ form.herbName.label }}:<br>{{ form.herbName(style='width: 100%;') }}
								</td>
                                <td>
                                    {{ form.herbScientific.label }}:<br>{{ form.herbScientific(style='width: 100%;') }}
                                </td>
							</tr>
							<tr>
								<td>
                                    {{ form.herbLocation.label }}:<br>{{ form.herbLocation(style='width: 100%;') }}
								</td>
								<td>
                                    {{ form.herbClimate.label }}:<br>{{ form.herbClimate(style='width: 100%;') }}
								</td>
							</tr>
							<tr>
								<td colspan="2">
                                    {{ form.herbReferenceLink.label }}:<br>{{ form.herbReferenceLink(style='width: 100%;') }}
								</td>
						</table>
					</td>
				</tr>
				<tr>
					<td>
                        {{ form.herbImages.label }}:<br>
                        {{ form.herbImages(style='width: 100%;') }}<br>
					</td>
				</tr>
				<tr>
					<td>
                        {{ form.herbDescription.label }}:<br>
                        {{ form.herbDescription(style='width: 100%; height: 900px') }}<br>
					</td>
				</tr>
				<tr>
					<td>
						{{ form.submit }}
					</td>
				</tr>
			</table>

		</form>

	</div>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='Images') }}
    {{ ckeditor.config(name='Description') }}

</body>
</html>