<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>The Wandering God - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="script" href="{{ url_for('static', filename='js/layout.js') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

    {% endblock %}
</head>
<body background="../images/backgrounds/Blue-Red-Fabric.jpg">
<div id="page-container">
    <div id="header">
        <img height="65px" style="display: block; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='images/ancient-banner.png') }}">
        {% block header %}{% endblock %}
    </div>

    <div id="page">
        {% block titlepage %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <center>
            <table style="text-align: center;">
                <tr>
                    <td rowspan="2">
                        <img src="{{ url_for('static', filename='images/monogram.png') }}">
                    </td>
                    <td>
                        &copy; Copyright 1997-2019
                    </td>
                    <td rowspan="2">
                        <img src="{{ url_for('static', filename='images/neorendier_50px.gif') }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="mailto:rendier@thewanderinggod.com">rendier@thewanderinggod.com</a>
                    </td>
                </tr>
            </table>
        </center>
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
</html>