<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="script" href="{{ url_for('static', filename='js/layout.js') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
</head>
<body class="menu">
<h2 align="center">{{ session['MENU_TITLE'] }}</h2>
<div id="flashdiv" class="bgimg" align="center">
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
</div>
<br>
<center>
{% if shelves %}
<div class="dropdown">
    <button onclick="menuFunction()" class="dropbtn">Shelves</button>
    <div id="myDropdown" class="dropdown-content">
        {% for shelf in shelves %}
            <a href="/library/{{ shelf }}" target="content">{{ shelf }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if books %}
<div class="dropdown">
    <button onclick="menu2Function()" class="dropbtn2">Books</button>
    <div id="myDropdown2" class="dropdown-content2">
        {% for book in books %}
            <a href="/static/js/pdfjs/web/viewer.html?file={{ book }}" target="content">{{ book.split("/")[-1] }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if 'username' in session and session['usergroup'] == 'The Wandering God' %}

    <div class="dropmenu">
        <p><a href="{{ url_for('new_shelf') }}" target="content">New Shelf</a></p>
    </div>
    <div class="dropmenu">
        <p><a href="{{ url_for('upload_book') }}" target="content">Upload Book</a> </p>
    </div>

{% endif %}
</center>
{% if back %}
<div class="dropmenu">
    <p><a href="{{ url_for('show_library') }}" target="content">Library</a></p>
</div>
{% endif %}
<h2>{{ session['MENU_TITLE'] }}</h2>
{% if books %}
<ul><h2>Books</h2>
    {% for book in books %}
    <li >
        <a href="/static/js/pdfjs/web/viewer.html?file={{ book }}" target="content">{{ book.split("/")[-1] }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if shelves %}
<ul><h2>Shelves</h2>
    {% for shelf in shelves %}
    <li >
        <a href="/library/{{ shelf }}" target="content">{{ shelf }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if back %}
<p><a href="{{ url_for('show_library') }}" target="content">Library</a></p>
{% endif %}
</body>
</html>


