<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <link rel="script" href="{{ url_for('static', filename='js/layout.js') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
</head>
<body class="menu">
<h2>{{ session['MENU_TITLE'] }}</h2>
<div class="dropdown">
    <button onclick="menuFunction()" class="dropbtn">Top Menu</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="{{ url_for('show_articles') }}" target="content">Articles</a>
        <a href="{{ url_for('show_categories') }}" target="content">Categories</a>
        <a href="{{ url_for('show_library') }}" target="content">Library</a>
        <a href="{{ url_for('list_herbs') }}" target="content">Herbs</a>
        <a href="{{ url_for('print_vars') }}" target="content">Debug</a>

    </div>
</div>
<h2>{{ session['MENU_TITLE'] }}</h2>
<ul>
    <li >
        <a href="{{ url_for('show_articles') }}" target="content">Articles</a>
    </li>
    <li>
        <a href="{{ url_for('show_categories') }}" target="content">Categories</a>
    </li>
    <li>
        <a href="{{ url_for('show_library') }}" target="content">Library</a>
    </li>
    <li>
        <a href="{{ url_for('list_herbs') }}" target="content">Herbs</a>
    </li>
    <li>
        <a href="{{ url_for('print_vars') }}" target="content">Debug</a>
    </li>
    <li>
        Travels
    </li>
</ul>

</body>
</html>


