{% extends "layout.html" %}
{% block title %}Michael Rendier{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block header %}
    <h1>NeoRendier: The Wandering God</h1>

{% endblock %}
{% block titlepage %}
  <table width="880" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" id="title-page">
                <a href="{{ url_for('wandering') }}"><br />
                <img height="75%" src="/static/images/contents.gif" border="0"/></a><br />
                    Leadership comes with responsibility, not power.<br />
                    Ex Fidelitas, Et Integritas, Nobilitas! <br />
                    Only by choosing to grow and evolve, can we ever hope to become something more than we are today!
            </td>
        </tr>
    </table>
{% endblock %}
{% block footer %}
{% endblock %}