<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>The Wandering God - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% endblock %}
</head>
<body background="{{ url_for('static', filename='images/backgrounds/Blue-Red-Fabric.jpg') }}" style="background-size: cover; background-repeat: no-repeat;">
<div id="page-container">
    <div id="header" class="bgimg">
        <table width="100%">
            <tr>
                <td>
                     <img height="70px" src="{{ url_for('static', filename='images/ancient-banner.png') }}">
                </td>
                <td>
                    <h2>The Wandering God</h2>
                    {% block header %}{% endblock %}
                </td>
            </tr>
        </table>
    </div>
    <div id="breadcrumbs" class="bgimg">
        <ul>
        {%- for item in current_menu.children recursive -%}
            <li>
                {%- if item.active -%}|{%- endif -%}<a href="{{ item.url }}" target="content">{{ item.text }}</a>{% if item.active %}|{% endif %}
            </li>
        {%- endfor -%}
        </ul>
    </div>
    <div id="flashdiv" class="bgimg">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </div>
    <div id="page">
        <table width="100%" cellpadding="0px" cellspacing="0px">
            <tr>
                <td width="25%">
                    <div id="menu" class="bgimg">
                        {% block menu %}{% endblock %}
                    </div>
                </td>
                <td width="75%">
                    <div id="content" class="bgimg">
                        {% block content %}{% endblock %}
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div id="footer">
            <table>
                <tr>
                    <td rowspan="2">
                        <img src="{{ url_for('static', filename='images/monogram.png') }}" width="75px">
                    </td>
                    <td>
                        &copy; Copyright 1997-2019
                    </td>
                    <td rowspan="2">
                        <img src="{{ url_for('static', filename='images/neorendier_50px.gif') }}" width="75px">
                    </td>
                </tr>
                <tr>
                    <td>
                        A <a href="mailto:rendier@thewanderinggod.com">Michael Rendier</a> Site
                    </td>
                </tr>
            </table>

        {% block footer %}{% endblock %}
    </div>
</div>

</body>
</html>