<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

    <title>Featured Today</title>
</head>
<body class="content" style="color: white;">
<h1>Today's Featured Articles</h1>
{% for article in articles %}
	<div class="centered">
		<div id="article-head" class="content" style="font-size: small">
            <h1 style="text: white; text-decoration: underline">{{ article[7] }}</h1>
            {{ article[2] }}<br>
            {{ article[3] }}<br>
            {{ article[4] }}<br>
            Parent: {{ article[5] }}   |   Category: {{ article[6] }}<br>
            <hr>
            <div id="article-text" class="content">
                {{ article[9] | safe }}
            </div>
		</div>
        <center>
            <img src="{{ url_for('static', filename='images/fleurdelis.png') }}" height="150px">
        </center>
	</div>
<hr>
<a href="{{ url_for('article_editor', articleName=article[1]) }}">Edit</a>
<hr>
{% endfor %}

</body>
</html>