{% extends "layout.html" %}
{% block title %}New User{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block header %}
    <h1>The Wandering God: New User</h1>
{% endblock %}
{% block content %}
<div id="box">
    <form method="POST" action="">
        <h1 align="center" style="text-decoration: underline;">Enter your details </h1><br />
        <table align="center">
            <tr>
                <td align="left">User Name</td>
                <td align="left">
                    {% if uname %}
                    <input type="text" name="uname" value="{{ uname }}"/>
                    {% else %}
                    <input type="text" name="uname" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td align="left">Password</td>
                <td align="left">
                    <input type="password" name="passwd" />
                </td>
            </tr>
            <tr>
                <td align="left">Repeat Password</td>
                <td align="left"><input type="password" name="passwd2" /></td>
            </tr>
            <tr>
                <td align="left">First Name</td>
                <td align="left"><input type="text" name="fname" /></td>
            </tr>
            <tr>
                <td align="left">Last Name</td>
                <td align="left"><input type="text" name="lname" /></td>
            </tr>
            <tr>
                <td align="left">Email</td>
                <td align="left"><input type="email" name="email"></td>
            </tr>
        </table>
        <center><input type="submit", value="Create User"></center>
    </form>
</div>
    {% if errorMsg %}
    <p style="color: #aa00aa", align="center">{{ errorMsg }}</p>
    {% endif %}

{% endblock %}