{% extends "to_wander.html" %}
{% block title %}The Wandering{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block header %}

    {% if 'username' in session %}
       <h3>User: {{ session['username'] }}</h3>
    {% endif %}
{% endblock %}
{% block menu %}
    <iframe src="{{ url_for('menu') }}" style="border: none;" width="100%" height="100%" name="menu"></iframe>
{% endblock %}
{% block content %}
    <iframe src="{% if session['CONTENT_PAGE'] %}{{ session['CONTENT_PAGE'] }}{% else %}{{ url_for('top_page') }}{% endif %}" style="border: none;" width="100%" height="100%" name="content"></iframe>
{% endblock %}
{% block footer %}
{% endblock %}