<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Wandering God - 404 Error</title>
<style type="text/css">
<!--
body,td,th {
	color: #FFFFFF;
}
body {
	background-color: #000000;
	background-image: url(images/backgrounds/redgenebackground.jpg);
	background-repeat: no-repeat;
}
-->
</style>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script type='text/javascript'>
<!-- 
function getMessage() { 
var law = new Array(32) 
law[0] = '' 
law[1] = 'Everything takes longer than you think.' 
law[2] = 'Anything that can go wrong will go wrong.' 
law[3] = 'If there is a possibility of several things going wrong, the one that will cause the most damage will be the one to go wrong.' 
law[4] = 'If there is a worse time for something to go wrong, it will happen then.' 
law[5] = 'If anything simply cannot go wrong, it will anyway.' 
law[6] = 'If you perceive that there are four possible ways in which a procedure can go wrong, and circumvent these, then a fifth way, unprepared for, will promptly develop.' 
law[7] = 'Left to themselves, things tend to go from bad to worse.' 
law[8] = 'If everything seems to be going well, you have obviously overlooked something.' 
law[9] = 'Nature always sides with the hidden flaw.' 
law[10] = 'Mother nature is a bitch.' 
law[11] = 'It is impossible to make anything fool proof because fools are so ingenious.' 
law[12] = 'Whenever you set out to do something, something else must be done first.' 
law[13] = 'Every solution breeds new problems.' 
law[14] = 'Trust everybody ... then cut the cards.' 
law[15] = 'Two wrongs are only the beginning.' 
law[16] = 'If at first you don\'t succeed, destroy all evidence that you tried.' 
law[17] = 'To succeed in politics, it is often necessary to rise above your principles.' 
law[18] = 'Exceptions prove the rule ... and wreck the budget.' 
law[19] = 'Success always occurs in private, and failure in full view.' 
law[20] = 'Nothing is as easy as it looks.' 
law[21] = 'Build a system that even a fool can use and only a fool will want to use it.' 
law[22] = 'If there is a possibility of several things going wrong the one that will cause the most damage will be the one to go wrong.' 
law[23] = 'Any simple theory will be worded in the most complicated way.' 
law[24] = 'When all else fails, read the instructions.' 
law[25] = 'If an experiment works, something has gone wrong.' 
law[26] = 'The only perfect science is hind-sight.' 
law[27] = 'All things are possible except skiing through a revolving door.' 
law[28] = 'The first myth of management is that it exists.' 
law[29] = 'Fill what\'s empty. Empty what\'s full. And scratch where it itches.' 
law[30] = 'If you can\'t understand it, it is intuitively obvious.' 
law[31] = 'All\'s well that ends.' 

var num = Math.floor(Math.random() * 32 + 1)

document.write('Murphy\'s Law: ' + '<i>' + law[num] + '</i>'); 
} 
//--> 
</script>
</head>

<body onload="MM_preloadImages('images/crumbforumsover.jpg','images/crumbgalleryover.jpg','images/crumbjournalover.jpg','images/crumbcontactover.jpg')">
<p>&nbsp;</p>
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2"><img src="images/avatars/avatarwandering.jpg" width="80" height="80" /></td>
    <td bgcolor="#4C4C4C" height="56"><img src="images/errorgraphix/error_401.jpg" width="450" height="19" /></td>
  </tr>
  <tr>
    <td height="24"><table border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="29" bgcolor="#000000">&nbsp;</td>
        <td width="80"><a href="phpBB2/index.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image4','','images/crumbforumsover.jpg',1)"><img src="images/crumbforums.jpg" alt="Forums" name="Image4" width="80" height="24" border="0" id="Image4" /></a></td>
        <td width="24"><img src="images/crumbsdash.jpg" width="24" height="24" /></td>
        <td width="80"><a href="cpg1413/index.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image5','','images/crumbgalleryover.jpg',1)"><img src="images/crumbgallery.jpg" alt="Gallery" name="Image5" width="80" height="24" border="0" id="Image5" /></a></td>
        <td width="24"><img src="images/crumbsdash.jpg" width="24" height="24" /></td>
        <td width="80"><a href="journal.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image6','','images/crumbjournalover.jpg',1)"><img src="images/crumbjournal.jpg" alt="Live Journal" name="Image6" width="80" height="24" border="0" id="Image6" /></a></td>
        <td width="24"><img src="images/crumbsdash.jpg" width="24" height="24" /></td>
        <td width="80"><a href="contact.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image7','','images/crumbcontactover.jpg',1)"><img src="images/crumbcontact.jpg" alt="Contact Michael Rendier" name="Image7" width="80" height="24" border="0" id="Image7" /></a></td>
        <td width="29" bgcolor="#000000">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<br />
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><script type="text/javascript">getMessage();</script></td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
