{% extends "layout.html" %}
{% block title %}{{ error.code }}: {{ error.name }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    body {
        background-color: #000000;
        background-image: url(/static/images/backgrounds/redgenebackground.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .important {
        color: #336699;
    }
    </style>
{% endblock %}
{% block content %}
    <center>
    <p class="important">
    <h1 align="center">{{ error.code }}: {{ error.name }}</h1>
    <p align="center">{{ error.get_description() | safe }}</p>


    <img src="{{ imagePath }}" alt="{{ error.code }}: {{ error.name }}" align="center">
    </center>


{% endblock %}